/* body */
* {
  margin: 0;
  padding: 0;
}
/* menu-bar-area-styles */
.menu {
  background-color: rgb(0, 38, 255);
  text-align: center;
}
.menu ul {
  display: inline-flex;
  list-style: none;
}
.menu ul li {
  width: 100px;
  margin: 6px;
  padding: 10px;
  font-size: x-large;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
}
.active,
.menu ul li:hover {
  background: rgb(134, 158, 87);
  border-radius: 8%;
}
/* header-area styles */
.header {
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
}
.header-area {
  padding: 150px 150px 300px 847px;
  text-align: right;
}
.header-title {
  font-weight: 700;
  font-size: 55px;
  color: #ffffff;
}
.header-description {
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  background: #ffffff;
  margin-top: 30px;
  padding: 25px;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
}
/* previous-year styles */
.previous-year {
  margin-top: 100px;
}
.previous-year-box {
  display: flex;
  gap: 80px;
}
.previous-Left {
  padding: 0px 0px 130px 100px;
}
.previous-Right {
  padding: 200px 200px 130px 0px;
}
.previous-year-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}
.previous-year-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 16px;
}
.fa-check::before {
  text-decoration: none;
  color: aqua;
  margin-right: 13px;
}
.description-list span {
  color: #444343;
  font-weight: 400;
  font-size: 12px;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: none;
}

/* My-Plans-area styles */

.My-Plans-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 50px;
}
.web-contanier {
  display: flex;
  gap: 96px;
  margin-left: 150px;
  margin-right: 120px;
}
.icons {
  margin-left: 32px;
}
.Development-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-top: 20px;
}
.Development-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  margin-top: 10px;
}
/* inear-gradient-area style */

.gradient {
  background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(../images/watch.png);
  margin: 130px 150px 130px 150px;
}
.container {
  padding: 35px 615px 80px 65px;
}
.btn-status {
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.btn-primary a {
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  text-decoration: none;
}
/* footer-area style */

.footer-area {
  display: flex;
  gap: 330px;
  background: #151414;
  margin-top: 130px;
}
.footer-left {
  padding: 130px 0px 130px 230px;
}
.title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
}
.description {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-top: 15px;
}

.social-madia {
  background-color: #151414;
}
.btn {
  border: none;
  padding: 25px 25px 25px 0px;
  background: none;
  color: #005fac;
  font-size: 45px;
}

.footer-right {
  padding: 130px 150px 240px 0px;
}

.footer-right h3 {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 25px;
}
.Subscribe-email {
  margin-bottom: 16px;
  border: 1px solid #fff;
  background: #151414;
  border-radius: 5px;
  padding: 14px 105px 20px 10px;
  color: #fff;
}
.Subscribe {
  background: #005fac;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
}
/* ----End---- */
